[submodule "MicroCity/lib"]
	path = MicroCity/lib
	url = https://github.com/apfxtech/arduboylib.git
[submodule "TowerDefense/lib"]
	path = TowerDefense/lib
	url = https://github.com/apfxtech/arduboylib.git
