[submodule "apps/games/microcity/lib"]
	path = apps/games/microcity/lib
	url = https://git.aperturefox.ru/FlipperZero/ardulib.git
[submodule "apps/games/microtd/lib"]
	path = apps/games/microtd/lib
	url = https://git.aperturefox.ru/FlipperZero/ardulib.git
[submodule "apps/games/arduventure/lib"]
	path = apps/games/arduventure/lib
	url = https://git.aperturefox.ru/FlipperZero/ardulib.git
